@keyframes Background {
  0% {
    background-position: 0% 71%; }
  50% {
    background-position: 100% 30%; }
  100% {
    background-position: 0% 71%; } }

@-webkit-keyframes Background {
  0% {
    background-position: 0% 71%; }
  50% {
    background-position: 100% 30%; }
  100% {
    background-position: 0% 71%; } }

@-moz-keyframes Background {
  0% {
    background-position: 0% 71%; }
  50% {
    background-position: 100% 30%; }
  100% {
    background-position: 0% 71%; } }

@keyframes jiggle {
  15% {
    transform: scale(1.4, 1.2); }
  40% {
    transform: scale(0.9, 0.9); }
  75% {
    transform: scale(1.08, 1); }
  100% {
    transform: scale(1, 1); } }

@-webkit-keyframes jiggle {
  15% {
    transform: scale(1.4, 1.2); }
  40% {
    transform: scale(0.9, 0.9); }
  75% {
    transform: scale(1.08, 1); }
  100% {
    transform: scale(1, 1); } }

@keyframes Jiggle {
  15% {
    transform: rotate(-2deg); }
  40% {
    transform: rotate(2deg); }
  75% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(2deg); } }

@-webkit-keyframes Jiggle {
  15% {
    transform: rotate(-2deg); }
  40% {
    transform: rotate(2deg); }
  75% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(2deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html, body {
  height: 100%; }

html {
  background-color: #e8f7d2;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 84%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 78%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 87%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 54.34%; } }

.heading-primary {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 3.5rem; }
    @media only screen and (max-width: 75em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem;
        margin-top: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4.5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 1.75rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 2rem;
        letter-spacing: 0.5rem; } }
    @media only screen and (max-width: 75em) {
      .heading-primary--sub {
        font-size: 2.2rem;
        letter-spacing: 1rem; } }

.textf {
  padding: 2rem;
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .textf:not(:last-child) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .textf {
      font-size: 2rem; } }

      .bestFood {
        text-align: center;
        font-size: 40px;
        font-family:'Courier New', Courier, monospace;
        background: linear-gradient(to right, rgb(149, 240, 149), rgb(83, 139, 113));
        color: rgb(7, 94, 26);
      }


  .sectionReservas {
    text-align: center;
  }
  
  .reservas {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 60%, transparent 50%), url(../img/camp.jpg);
    background-size: cover;
    height: 60rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .reservas__form {
      width: 50%; }

 ::placeholder {
   font-size: 20px;
 }
.btn, .btn:link, .btn:visited {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all .2s;
  position: relative;
  cursor: pointer; }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(43, 100, 25, 0.678); }

.btn--green {
  color: rgba(27, 73, 35, 0.8);
  background: linear-gradient(to bottom, rgb(149, 240, 149), rgb(83, 139, 113));
  border: none;
}

.btn--yellow {
  background-color: rgba(255, 255, 255, 0.425);
  border: 3px solid #075e1a;
  color: #075e1a; }
  .btn--yellow:hover {
    border: 3px solid white;
    transform: rotateZ(3deg);
    box-shadow: 0 1rem 2rem rgba(43, 100, 25, 0.678);
    background-color: rgba(201, 201, 37, 0.849);
    color: white; }
  @media only screen and (max-width: 75em) {
    .btn--yellow {
      font-size: 2rem !important;
      padding: 1.5rem !important;
      border: 3px solid white;
      transform: rotateZ(3deg);
      box-shadow: 0 1rem 2rem rgba(43, 100, 25, 0.678);
      background-color: rgba(201, 201, 37, 0.849);
      color: white; }
      .btn--yellow:active {
        outline: none;
        transform: translateY(-2px) rotateZ(3deg);
        box-shadow: 0 0.5rem 2rem rgba(43, 100, 25, 0.678); } }

        .card {
            perspective: 150rem;
            -moz-perspective: 150rem;
            position: relative;
            /* Perspective has gone because when we use position absolute the parent(.card), has width of zero pixels.
                 Here we can not use the clearfix trick, so
                 we add the same height of their childrens */
            height: 48rem; }

        .card__side {
            height: 48rem;
            transition: all .4s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            border-radius: 3px;
            overflow: hidden;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
            .card__side--front {
              background-color: rgb(81, 168, 30); }
            .card__side--back {
              transform: rotateX(90deg); }
              .card__side--back-1 {
                background-image: linear-gradient(to right bottom, #ffb900, #c1d64c); }
              .card__side--back-2 {
                background-image: linear-gradient(to right bottom, #e18a64, #ed0c0c); }
              .card__side--back-3 {
                background-image: linear-gradient(to right bottom, #5ef05c, #ed0c0c); }
          .card:hover .card__side--front {
            transform: rotateX(-180deg);}
          .card:hover .card__side--back {
            transform: rotateX(-15deg);}
          .card__picture {
            background-size: cover;
            height: 23rem;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
            .card__picture--1 {
              background-image: linear-gradient(to right bottom, #ffb900, #c1d64c), url(../img/food/croquetas.jpg); }
            .card__picture--2 {
              background-image: linear-gradient(to right bottom, #ffb900, #ed0c0c), url(../img/food/pechugaVR.jpg); }
            .card__picture--3 {
              background-image: linear-gradient(to right bottom, #5ef05c, #ed0c0c), url(../img/food/espaguetis.jpg); }
          .card__heading {
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: #fff;
            position: absolute;
            top: 12rem;
            right: 2rem;
            width: 75%; }
          .card__heading-span {
            padding: 1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone; }
            .card__heading-span--1 {
              background-image: linear-gradient(to right bottom, #ffb900, #e3d9d9); }
            .card__heading-span--2 {
              background-image: linear-gradient(to right bottom, #ffb900, #ed0c0c); }
            .card__heading-span--3 {
              background-image: linear-gradient(to right bottom, #5ef05c, #ed0c0c); }
          .card__details {
            background-color: rgba(255, 255, 255, 0.6);
            padding: 3rem; }
            .card__details ul {
              list-style: none;
              width: 80%;
              margin: 0 auto; }
              .card__details ul li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem; }
                .card__details ul li:not(:last-child) {
                  border-bottom: 1px solid #eee; }
          .card__cta {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center; }
          .card__price-box {
            text-align: center;
            color: #fff;
            margin-bottom: 8rem; }
          .card__title {
            font-size: 2rem;
            text-transform: uppercase; }
          .card__description {
            margin-top: 30px;
            padding: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: rgba(255, 255, 255, 0.3);
            font-size: 1.8rem;
            font-weight: 80; }
          @media only screen and (max-width: 56.25em) {
            .card {
              height: auto;
              border-radius: 3px;
              background-color: #fff;
              box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
              .card__side {
                height: auto;
                position: relative;
                box-shadow: none; }
                .card__side--back {
                  transform: rotateX(0);
                  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
              .card:hover .card__side--front {
                width: 100px;
                transform: rotateX(0); }
              .card__details {
                padding: 1rem 3rem; }
              .card__cta {
                position: relative;
                top: 0%;
                left: 0;
                transform: translate(0);
                width: 100%;
                padding: 7rem 4rem 4rem 4rem; }
              .card__price-box {
                margin-bottom: 3rem; }
              .card__price-value {
                font-size: 4rem; } }
                .foodinfo{
                    float: right;                                        
                }
                .foodinfo img {
                    height: 40px;
                    width: 40px;
                }                  
                  #vegan{
                    background-color: lightgreen;
                  }                
                  #spicy{
                    background-color: rgb(238, 95, 95);
                  }


                  .form__group:not(:last-child) {
                    text-align: center;
                    margin-bottom: 2rem; }
                    .day {
                      background-color: black;
                    }
                  
                  .form__input {
                    font-size: 1.5rem;
                    font-family: inherit;
                    color: inherit;
                    padding: 1.5rem 2rem;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: none;
                    border-bottom: 3px solid transparent;
                    width: 90%;
                    display: block;
                    transition: all .3s; }
                    @media only screen and (max-width: 56.25em) {
                      .form__input {
                        width: 100%; } }
                    .form__input:focus {
                      outline: none;
                      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
                      border-bottom: 3px solid #55c57a; }
                    .form__input:focus:invalid {
                      border-bottom: 3px solid #ff7730; }
                    .form__input::-webkit-input-placeholder {
                      color: #999; }
                
                  .form__label {
                    font-size: 1.4rem;
                    font-weight: 700;
                    margin-left: 20rem;
                    margin-right: 20rem;
                    margin-top: 0.7rem;
                    display: block;
                    transition: all .3s; }
                  
                  .form__input:placeholder-shown + .form__label {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateX(-8rem) translateY(-1rem); }
                  
                  .form__radio-group {
                    width: 49%;
                    display: inline-block; }
                    @media only screen and (max-width: 56.25em) {
                      .form__radio-group {
                        width: 100%;
                        margin-bottom: 2rem; } }
                  
                  .form__radio-input {
                    display: none; }
                  
                  .form__radio-label {
                    font-size: 1.6rem;
                    cursor: pointer;
                    position: relative;
                    padding-left: 4.5rem; }
                  
                  .form__radio-button {
                    height: 3rem;
                    width: 3rem;
                    border: 5px solid #55c57a;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: -0.4rem; }
                    .form__radio-button::after {
                      content: "";
                      display: block;
                      height: 1.3rem;
                      width: 1.3rem;
                      border-radius: 50%;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      background-color: #55c57a;
                      opacity: 0;
                      transition: opacity 0.2s; }
                  
                  .form__radio-input:checked ~ .form__radio-label .form__radio-button:after {
                    opacity: 1; }
.popup {
  margin: auto;
  border-radius: 5px;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 40%;
  bottom: 0;
  left: 0;
  right: -45%;
  z-index: 9999; }
  @media only screen and (max-width: 75em) {
    .popup {
      width: 60%;
      right: 0; } }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    color: #0d6315;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.1s;
    line-height: 1; }
    @media only screen and (max-width: 75em) {
      .popup__close:link, .popup__close:visited {
        top: 1rem;
        right: 1rem; } }
  .popup__close:hover {
    color: #dbd038; }
  .popup__content {
    background-color: whitesmoke;
    box-shadow: 0 2rem 4rem #14330b;
    border-radius: 3px;
    overflow: hidden;
    padding: 2rem;
    transform: translateY(-50%);
    transition: all 0.5s 0.2s; }
  .popup__text {
    font-size: 1.6rem;
    color: #196e24;
    text-align: left !important; }

.footer {
  background-color: #042e04;
  padding: 4rem 0;
  color: #a0cca0;
  margin-bottom: 0; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 8rem;
      clip-path: ellipse(97% 70% at 50% 70%); } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      clip-path: circle(78% at 50% 70%); } }
  .footer__logo {
    width: 25rem;
    height: 25rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    background-color: #041802;
    margin: 5rem auto; }
    @media only screen and (max-width: 75em) {
      .footer__logo {
        width: 20rem;
        height: 20rem; } }
  .footer__info, .footer__socials {
    margin-top: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__info, .footer__socials {
        margin-top: 1rem; } }
  .footer__navigation {
    text-align: center; }
  .footer__list {
    list-style: none;
    margin: auto;
    text-align: center; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.3rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.3rem;
    color: #9acf38;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block; }
    @media only screen and (max-width: 75em) {
      .footer__link:link, .footer__link:visited {
        font-size: 2rem; } }
  .footer__link:hover, .footer__link:active {
    -webkit-animation: Jiggle .3s ease-out;
    animation: Jiggle .3s ease-out; }

.no-margin {
  margin-bottom: 1rem !important; }

.icon {
  max-width: 60px; }
  .icon:hover {
    -webkit-animation: jiggle .3s ease-out;
    animation: jiggle .3s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .icon {
      max-width: 32px; } }

.logo {
  max-width: 25rem; }
  @media only screen and (max-width: 75em) {
    .logo {
      max-width: 20rem; } }

.header {
  position: relative;
  height: 100%;
  box-sizing: content-box;
  width: 100%;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .header {
      clip-path: ellipse(70% 70% at 50% 30%); } }
  @media only screen and (max-width: 56.25em) {
    .header {
      clip-path: ellipse(70% 70% at 50% 30%); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: circle(78% at 50% 12.43%); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 32; }

.bg-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(225deg, rgba(68, 179, 42, 0.8), rgba(42, 179, 114, 0.8), rgba(149, 184, 86, 0.8), rgba(175, 192, 144, 0.8));
  opacity: 0.7;
  background-size: 800% 800%;
  overflow-x: hidden;
  z-index: 20;
  object-fit: cover;
  position: absolute;
  display: block;
  -webkit-animation: Background 15s ease infinite;
  -moz-animation: Background 15s ease infinite;
  animation: Background 15s ease infinite; }

.vid {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
  object-fit: cover;
  overflow-x: hidden; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-1 {
    width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem); }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem); }
  .row .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem); }
  .row .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem); }
  .row .col-1-of-5 {
    width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        text-align: center; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #dde6d1;
  height: 10rem;
  width: 10rem;
  position: fixed;
  top: 2rem;
  left: 3rem;
  border-radius: 50%;
  z-index: 9999;
  box-shadow: 0 1rem 3rem rgba(6, 49, 6, 0.11);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .navigation__button {
      height: 7rem;
      width: 7rem; } }

.navigation__nav {
  transform: translate(45%, 50%);
  position: fixed;
  z-index: 2200;
  transition: all linear .1s;
  opacity: 0;
  background-color: #dde6d1;
  border-radius: 1rem;
  padding: 0.5rem; }
  @media only screen and (max-width: 75em) {
    .navigation__nav {
      transform: translate(50%, 50%); } }
  @media only screen and (max-width: 56.25em) {
    .navigation__nav {
      min-width: 48.23%;
      transform: translate(40%, 50%); } }

.navigation__list {
  list-style: none; }

.navigation__item {
  display: inline-block; }

.navigation__link:link, .navigation__link:visited {
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  color: #0a6124;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #3c744f 50%);
  background-size: 235%;
  transition: all 0.4s;
  border-radius: 1rem; }
  @media only screen and (max-width: 75em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: unset;
      padding: 1rem 1rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #b7cab1;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1; }

.navigation__icon {
  max-width: 100%; }
