//COMMON
$color-white: white;

//NAVIGATION
$color-nav: rgb(221, 230, 209);
$color-nav-hover: rgb(60, 116, 79);
$color-nav-font-1: rgb(10, 97, 36);
$color-nav-font-2: rgb(183, 202, 177);

//HEADER
$color-header-1: rgba(68, 179, 42, 0.8);
$color-header-2: rgba(42, 179, 114, 0.8);
$color-header-3: rgba(149, 184, 86, 0.8);
$color-header-4: rgba(175, 192, 144, 0.8);

//FOOTER
$footer-background-color: rgb(4, 46, 4);
$footer-font-color: rgb(160, 204, 160);
$logo-background-color: rgb(4, 24, 2);

//BUTTON
$color-button-yellow-primary: rgb(7, 94, 26);
$color-button-yellow-shadow: rgba(43, 100, 25, 0.678);
$color-button-yellow-background: rgba(201, 201, 37, 0.849);

//FONT
$footer-font-size: 2.5rem;

//GRID
$cols: 5;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 6rem;