.footer{
    //position: fixed;
    background-color: $footer-background-color;
    padding: 4rem 0;
    color: $footer-font-color;
    margin-bottom: 0;

    @include respond(tab-land) {
        padding: 8rem;
        clip-path: ellipse(97% 70% at 50% 70%);
    }
    @include respond(phone){
        clip-path: circle(78% at 50% 70%);
    }

    &__logo{
        width: 25rem;
        height: 25rem;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        background-color: $logo-background-color; //rgb(91, 172, 66)
        margin: 5rem auto;
        @include respond(tab-land){
            width: 20rem;
            height: 20rem;
        }
    }
    &__info,
    &__socials{
        margin-top: 5rem;
        @include respond(tab-port){
            margin-top: 1rem;
        }
    }

    &__navigation{
       text-align: center;
    }
    
    &__list{
        list-style: none;
        margin: auto;
        text-align: center;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.3rem;
        }
    }

    &__link{
        
        &:link,
        &:visited{
            text-decoration: none;
            cursor: pointer;
            font-size: 2.3rem;
            color: rgb(154, 207, 56);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: inline-block;
            @include respond(tab-land){
                font-size: 2rem;
            }
            
        }

        &:hover,
        &:active {
            -webkit-animation: Jiggle .3s ease-out;
            animation: Jiggle .3s ease-out;
        }
    }
}
.no-margin{
    margin-bottom: 1rem !important;
}

.icon{
    max-width: 60px;

    &:hover{
        -webkit-animation: jiggle .3s ease-out;
        animation: jiggle .3s ease-in-out;
    }
    @include respond(phone){
        max-width: 32px;
    }
}

.logo{
    max-width: 25rem;
    
    @include respond(tab-land){
        max-width: 20rem;
    }
}
