.row {
    max-width: $grid-width; 
    margin: 0 auto; 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;
    @include colwidth;
    [class^="col-"] {
    float: left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }        
     
        @include respond(tab-port) {
            width: 100% !important;
            text-align: center;
        }
    }
}