.header{
    position: relative;
    height: 100%;
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;

    @include respond(tab-land){
        clip-path: ellipse(70% 70% at 50% 30%);
    }
    @include respond(tab-port){
        clip-path: ellipse(70% 70% at 50% 30%); //for google phones 70%
    }
    @include respond(phone){
        clip-path: circle(78% at 50% 12.43%);
    }
    
    &__text-box{
        position: absolute;
        top: 40%; 
        left: 50%;
        z-index: 30;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 32;
    }
}

.bg-overlay{
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg,$color-header-1, $color-header-2,$color-header-3, $color-header-4);
    background-size: 800% 800%;
    overflow-x: hidden;
    z-index: 20;
    object-fit: cover;
    position:absolute;
    display: block;

    -webkit-animation: Background 15s ease infinite;
    -moz-animation: Background 15s ease infinite;
    animation: Background 15s ease infinite;
    
}

.vid{
    width:100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    object-fit: cover;
    overflow-x: hidden;
}
