.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-nav;
        height: 10rem;
        width: 10rem;
        position: fixed;
        top: 2rem;
        left: 3rem;
        border-radius: 50%;
        z-index: 9999;
        box-shadow: 0 1rem 3rem rgba(6, 49, 6, 0.11);
        text-align: center;
        cursor: pointer;

        @include respond(tab-land) {
            height: 7rem;
            width: 7rem;
        }
    }

    &__nav {
        transform: translate(45%, 50%);
        //width: 53.4%;
        position: fixed;
        z-index: 2200;
        transition: all linear .1s;
        opacity: 0;
        background-color: $color-nav;
        border-radius: 1rem;
        padding: 0.5rem;

        @include respond(tab-land){
            transform: translate(50%, 50%);
        }
        @include respond(tab-port){
            min-width: 48.23%;
            transform: translate(40%, 50%);
        }
    }

    &__list {
        list-style: none;;
    }
    &__item{
        display: inline-block;
    }


    &__link {        
        &:link,
        &:visited {
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 1.5rem;
            color: $color-nav-font-1;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-nav-hover 50%);
            background-size: 235%;
            transition: all 0.4s;
            border-radius: 1rem;

            @include respond(tab-land){
                font-size: unset;
                padding: 1rem 1rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-nav-font-2;
            transform: translateX(1rem);
        }

    }

    &__checkbox:checked~&__nav {
        opacity: 1;
    }
    
    &__icon {
        max-width: 100%;
    }
}