.btn {
    &,
    &:link,
    &:visited {
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 3rem;
        display: inline-block;
        border-radius: 2rem;
        transition: all .2s; 
        position: relative;
        cursor: pointer;
    }


    &:active{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 2rem $color-button-yellow-shadow;
    }

    &--yellow {
        background-color: rgba(124, 173, 91, 0.425);
        border: 3px solid $color-button-yellow-primary;
        color: $color-button-yellow-primary;

        &:hover{
            border: 3px solid $color-white;
            transform: rotateZ(3deg);
            box-shadow: 0 1rem 2rem $color-button-yellow-shadow;
            background-color: $color-button-yellow-background;
            color: $color-white;    
        }

        @include respond(tab-land){
            font-size: 2rem !important;
            padding: 1.5rem !important;
            border: 3px solid $color-white;
            transform: rotateZ(3deg);
            box-shadow: 0 1rem 2rem $color-button-yellow-shadow;
            background-color: $color-button-yellow-background;
            color: $color-white; 
            &:active{
                outline: none;
                transform: translateY(-2px) rotateZ(3deg);
                box-shadow: 0 .5rem 2rem $color-button-yellow-shadow;
            }
        }
        
    }

}