.popup {
    margin: auto;
    border-radius: 5px;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;   
    position: fixed;
    width: 40%; 
    bottom: 0;
    left: 0;
    right: -45%;
    z-index: 9999;
    @include respond(tab-land) {
        width: 60%;
        right: 0;
    }

    &:target {
        visibility: visible;
        opacity: 1;       
    }
    &__close {

        &:link,
        &:visited {
            color: rgb(13, 99, 21);
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.1s;
            line-height: 1;
            @include respond(tab-land) {
                top: 1rem;
                right: 1rem;
            }
        }

        &:hover {
            color: rgb(219, 208, 56);
        }
    }

    &__content {
        background-color: whitesmoke;
        box-shadow: 0 2rem 4rem rgb(20, 51, 11);
        border-radius: 3px;
        overflow: hidden;
        padding: 2rem;
        transform: translateY(-50%);
        transition: all 0.5s 0.2s;
    }

    &__text {
        font-size: 1.6rem;
        color: rgb(25, 110, 36);
        text-align: left !important;
    }
}
