.reservas {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%,
    rgba($color-white, .6) 60%, transparent 50%),
    url(../img/camp.jpg);
    background-size: cover;
    height: 40rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    &__form {
        width: 50%;
        padding: 6rem;
    }    
}
