@keyframes Background {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@-webkit-keyframes Background {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@-moz-keyframes Background {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}

@keyframes jiggle {  
    15% {transform:scale(1.4, 1.2)}
    40% {transform:scale(0.9, 0.9)}
    75% {transform:scale(1.08, 1)}
    100% {transform:scale(1, 1)}
}
@-webkit-keyframes jiggle {  
    15% {transform:scale(1.4, 1.2)}
    40% {transform:scale(0.9, 0.9)}
    75% {transform:scale(1.08, 1)}
    100% {transform:scale(1, 1)}
}

@keyframes Jiggle {
    15%{transform: rotate(-2deg)}
    40% {transform: rotate(2deg)}
    75% {transform: rotate(-2deg)}
    100%{transform: rotate(2deg)}
}

@-webkit-keyframes Jiggle {
    15%{transform: rotate(-2deg)}
    40% {transform: rotate(2deg)}
    75% {transform: rotate(-2deg)}
    100%{transform: rotate(2deg)}
}