*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit; // Force inheritance. Better practice
}
html,body{
    height: 100%;
}

html {
    background-color: rgb(232, 247, 210);
    font-size: 62.5%; 
    @include respond(tab-land) {
        font-size: 84%; 
    }
    
    @include respond(tab-port) {
        font-size: 78%; 
    }

    @include respond(big-desktop) {
        font-size: 87%;
    } 

    @include respond(phone) {
        font-size: 54.34%;
    } 

}