.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 6rem;

    &--main{
        display: block;
        font-size: 10rem;
        font-weight: 700;
        letter-spacing: 3.5rem;

        @include respond(tab-land){
            font-size: 5rem; //8rem google phone feature
            letter-spacing: 1rem;
            margin-top: 2rem;
        }
        @include respond(tab-port){
            font-size: 5rem; 
            letter-spacing: 1rem;
        }
        @include respond(phone){
            font-size: 4.5rem; //4rem google phone feature
            letter-spacing: 1rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 1.75rem;

        @include respond(tab-port){
            font-size: 2rem;
            letter-spacing: 0.5rem;
        }
        @include respond(tab-land){
            font-size: 2.2rem;
            letter-spacing: 1rem;
        }
    }
}

.textf {
    padding: 2rem;
    font-size: $footer-font-size;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    @include respond(tab-land){
        font-size: 2rem;
    }
}